@layer components {
  .public-root {
    @apply flex min-h-screen flex-col;
  }

  /* HEADER */
  .public-header {
    @apply fixed top-0 right-0 left-0 z-50 flex items-center justify-between bg-background/80 px-10 py-6 backdrop-blur;
  }

  .public-logo {
    @apply text-lg font-semibold tracking-tight;
  }

  .public-nav {
    @apply flex items-center gap-6 text-sm;
  }

  .public-nav a {
    @apply text-muted-foreground transition hover:text-foreground;
  }

  /* BASE NAV LINK */
  .public-nav-link {
    @apply inline-block rounded-sm border border-transparent px-5 py-1.5 text-sm leading-normal text-[#1b1b18] transition hover:border-[#19140035] dark:text-[#EDEDEC] dark:hover:border-[#3E3E3A];
  }

  /* CTA / PRIMARY NAV BUTTON */
  .public-nav-cta {
    @apply inline-block rounded-sm border border-[#03718d44] bg-primary px-5 py-1.5 text-sm leading-normal font-medium text-primary-foreground transition hover:border-[#1915014a] dark:border-[#3E3E3A] dark:text-[#EDEDEC] dark:hover:border-[#62605b];
  }

  /* CONTENT OFFSET (karena header fixed) */
  .public-content {
    @apply pt-24;
  }

  /* FOOTER */
  .public-footer {
    @apply mt-auto flex items-center justify-between border-t border-border px-10 py-8;
  }

  .public-footer-links {
    @apply flex gap-6 text-sm text-muted-foreground;
  }

  .nav-divider {
    border-left: 3px solid black; /* The vertical line */
    height: 100%; /* Makes the line fill the container's height */
    margin: 0 2px; /* Adds some space around the line */
  }

  
}
